<table>
  <tbody>
  <tr>
    <th>The name of the file to include on the page: </th>
    <td>
      <input type="text" id="settings_fileName"
             value="<%= settings['fileName'] %>"
             name="settings[fileName]" >
    </td>
  </tr>
  </tbody>
</table>
